
.pt-Normal{
	margin-bottom:10pt;
	line-height:114.99999999999999%;
	margin-top:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Normal-000001{
	margin-bottom:10pt;
	line-height:114.99999999999999%;
	margin-top:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000001{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Normal-000002{
	margin-bottom:10pt;
	line-height:114.99999999999999%;
	margin-top:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000002{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Normal-000003{
	margin-bottom:10pt;
	line-height:114.99999999999999%;
	margin-top:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000003{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Normal-000004{
	margin-bottom:10pt;
	line-height:114.99999999999999%;
	margin-top:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000004{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Normal-000005{
	margin-bottom:10pt;
	line-height:114.99999999999999%;
	margin-top:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000005{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}