<?xml version="1.0" encoding="utf-8"?><w:settings xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"><w:view w:val="print" /><w:defaultTabStop w:val="709" /><w:autoHyphenation w:val="true" /><w:consecutiveHyphenLimit w:val="0" /><w:doNotHyphenateCaps w:val="false" /><w:footnotePr><w:pos w:val="pageBottom" /><w:numFmt w:val="decimal" /><w:numStart w:val="1" /><w:numRestart w:val="continuous" /><w:footnote w:id="0" /><w:footnote w:id="1" /></w:footnotePr><w:endnotePr><w:pos w:val="docEnd" /><w:numFmt w:val="lowerRoman" /><w:numStart w:val="1" /><w:endnote w:id="0" /><w:endnote w:id="1" /></w:endnotePr><w:compat><w:suppressTopSpacing w:val="false" /><w:doNotUseHTMLParagraphAutoSpacing w:val="true" /></w:compat></w:settings>