
.pt-Standard{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Standard-000001{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000001{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-StrongEmphasis{
	font-weight:bold;
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000002{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Standard-000002{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000003{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Emphasis{
	font-weight:normal;
	font-style:italic;
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000004{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Standard-000003{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Standard-000004{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000005{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Strong{
	font-weight:bold;
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000006{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000007{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-Emphasis{
	font-weight:normal;
	font-style:italic;
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}
.pt-DefaultParagraphFont-000008{
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
	margin-right:0pt;
}